{{page-title (concat @model.nom ", Miss " @model.région)}}

<section class="description">
  <div class="header">
    <LinkTo rel="previous" @route="miss.profile" @model={{@model.prev}}>&#x3008;</LinkTo>
    <h2 class="region">
      {{ @model.région }}
    </h2>
    <LinkTo rel="next" @route="miss.profile" @model={{@model.next}}>&#x3009;</LinkTo>
  </div>
  <h3 class="nom"><strong>{{ @model.nom }}</strong>, <small>{{ @model.age }} ans, {{ this.taille }}m</small></h3>
  <p class="bio">
    {{sanitize-html @model.bio}}
  </p>
  &nbsp;
</section>

<section class="photos {{@model.id}}">
  <Carousel class="carousel">
    <Picture loading="lazy" class="picture" title="Portrait" src={{ @model.photos.portrait}} alt="" role="none" />
    <Picture loading="lazy" class="picture" title="Pied" src={{ @model.photos.pied}} alt="" role="none" />
    <Picture loading="lazy" class="picture" title="MaillotPied" src={{ @model.photos.maillotPied}} alt="" role="none" />
    <Picture loading="lazy" class="picture" title="MaillotAssis" src={{ @model.photos.maillotAssis}} alt="" role="none" />
  </Carousel>
</section>

{{outlet}}
