{{page-title (concat @model.nom ", Miss " @model.région)}}

<section class="description">
  <div class="header">
    <LinkTo rel="previous" @route="miss.profile" @model={{@model.prev}}>&#x3008;</LinkTo>
    <h2 class="region">
      {{ @model.région }}
    </h2>
    <LinkTo rel="next" @route="miss.profile" @model={{@model.next}}>&#x3009;</LinkTo>
  </div>
  <h3 class="nom"><strong>{{ @model.nom }}</strong>, {{ @model.age }} ans</h3>
  <p class="bio">
    {{@model.bio}}
  </p>
  &nbsp;
</section>
<section class="photos">
  <Carousel class="carousel">
    <Picture class="picture" src={{ @model.photos.portrait}} alt="" role="none" />
    <Picture class="picture" src={{ @model.photos.pied}} alt="" role="none" />
  </Carousel>
</section>
<section class="commentaires">
  {{outlet}}
  <ul class="comments">
    <li class="comment">
      <blockquote>
        Franchement, je la pète, en dépit de son cul de nez. Elle a
        un côté <em>girl next door</em> qui me plaît.
      </blockquote>
      <figcaption>
        <span class="mention" title={{mention-label 5}}>{{mention-emoji 5}}</span>
        <span class="author">Victor</span>
      </figcaption>
    </li>
  </ul>
</section>
