{{page-title @model.nom}}

<section class="description">
  <div class="header">
    <a rel="previous" href="#">&#x3008;</a>
    <h2 class="region">
      {{ @model.région }}
    </h2>
    <a rel="next" href="#">&#x3009;</a>
  </div>
  <h3 class="nom"><strong>{{ @model.nom }}</strong>, {{ @model.age }} ans</h3>
  <p class="bio">
    Elsa est galop 3, mais en revanche elle fait des blagues un peu trop reloues pour passer
    à la télé en toute tranquillité.
  </p>
  &nbsp;
</section>
<section class="photos">
  <img src={{ @model.photos.portrait}} alt="" role="none">
</section>
<section class="commentaires">
  {{outlet}}
  <ul class="comments">
    <li class="comment">
      <blockquote>
        Franchement, je la pète, en dépit de son cul de nez. Elle a
        un côté <em>girl next door</em> qui me plaît.
      </blockquote>
      <figcaption>
        <span class="mention" title="Meilleures chances au salon de l'agriculture">🐮</span>
        <span class="author">Victor</span>
      </figcaption>
    </li>
  </ul>
</section>
