{{page-title "Les Miss"}}
<div class="header">
  <h2>Toutes les miss</h2>
  <progress max={{this.total}} value={{this.judged}}></progress>
  <legend><small>Encore {{this.todo}} miss à juger</small></legend>
</div>
<ul class="misses">
  {{#each this.model.misses as |miss|}}
  <li class="miss {{if (get @model.judge.miss miss.id) 'done' 'todo'}}" {{region-css miss.id}}>
    <LinkTo @route="miss.profile" @model={{ miss }}>
      <div class="portrait">
        <img src={{miss.photos.portrait}} alt="" role="none">
      </div>
      <section class="legend">
        <h3 class="region">{{miss.région}}</h3>
        <h4 class="nom">{{miss.nom}}</h4>
      </section>
      <span class="mention">{{mention-emoji (get (get @model.judge.miss miss.id) 'mention') }}</span>
    </LinkTo>
  </li>
  {{/each}}
</ul>
{{outlet}}
