{{page-title "Profil"}}

<h2>Profil de juge</h2>

{{#if this.auth.isAuthenticated}}

<div class="avatar">
  <img class="photo" src={{if this.autoAvatar (boring-avatar this.nom)  @model.picture}} alt="" role="none">
  <div class="name">
    <Input @value={{this.nom}} name="nom" id="nom" />
    <label for="auto-avatar">
      <Input name="auto-avatar" id="auto-avatar" @type="checkbox" @checked={{this.autoAvatar}} /> Utiliser un avatar généré
    </label>
  </div>
</div>

{{#if this.auth.isExpired}}
  <p class="explain">
    La connexion est expirée, il faut rafraîchir !

    <br>

    <fieldset class="actions">
        <button class="refresh" type="button" {{action 'refreshLogin'}}>Se reconnecter</button>
    </fieldset>
  </p>
{{else}}
  <p class="explain">
    Tu es maintenant connecté. Tes jugements seront sauvegardés régulièrement pour être
    partagés aux autres juges.

    <br>

    <fieldset class="actions">
        <button class="logout" type="button" {{action 'logout' }}>Se déconnecter</button>
        <LinkTo @route="miss" class="to-miss">Revenir aux miss</LinkTo>
    </fieldset>
  </p>
{{/if}}
{{/if}}
