<section {{style-namespace 'carousel'}}
  class="scroller-root"
  data-hover-direction={{this.hoverDirection}}
  {{on 'click' this.navigateScroll}}
  {{on 'mouseover' (fn this.mouseActive true)}}
  {{on 'mouseout' (fn this.mouseActive false)}}
  {{on 'mousemove' this.mouseMove}}
  ...attributes>

  <div class="carousel-wrapper" 
       {{did-insert this.onInsert}}
       {{children-changed this.onInsert}}
       {{on 'resize' this.updateMeter}}
       {{on 'scroll' this.updateMeter}} >
    {{yield}}
  </div>
  <span class="control meter">{{this.meter}}</span>
  <span class="hover-scroll left">&#x3008;</span>
  <span class="hover-scroll right">&#x3009;</span>
</section>
