{{page-title "Mon Top"}}

<div class="header">
  <h2>Mon Top</h2>
</div>

{{#if @model.top.length}}
  <form class="top-actions" {{action 'resetTop' on='submit'}}>
      <legend>Glisser les miss pour les ordonner</legend>
      <button type="submit">Réinitialiser</button>
  </form>

  <ol class="top" {{sortable-group onChange=(fn (action 'saveTop'))}}>
    {{#each @model.top as |miss index|}}
      <li class="item" {{sortable-item spacing=10 model=miss}}>
        <MissThumbSmall class="portrait" @miss={{miss}} @judgement={{miss}}/>
        <div class="legend">
          <h3 class="region"><strong>{{add index 1}}.</strong> {{miss.région}}</h3>
          <h4 class="nom">{{miss.nom}}</h4>
          <p class="draggable">
            <span class="handle" {{sortable-handle}}>
              &#x2195;
            </span>
          </p>
        </div>
      </li>
    {{/each}}
  </ol>

{{else}}


<form class="init" {{action 'saveTop' this.missAboveMin on="submit"}}>
  <fieldset class="mention-min">
    <legend>Pas de top défini. Initialiser mon top.</legend>
    <label for="minimum">Minimum</label>
    <MentionPicker @value={{this.minimum}} @onChange={{fn (mut this.minimum)}}/>
  </fieldset>

  <button type="submit">Séléctionner {{this.missAboveMin.length}} miss pour mon top</button>
  <GridList class="preview" @list={{this.missAboveMin}} as |miss|>
      <MissThumb @miss={{miss}} @judgement={{get @model.judge.miss miss.id}}/>
  </GridList>
</form>



{{/if}}
