<LinkTo 
  {{ style-namespace 'miss-thumb-small' }}
  @route="miss.profile" 
  @model={{ @miss }} 
  class="{{style-namespace 'miss-thumb-small'}} {{if @judgement 'done' 'todo'}}"
  {{region-css @miss.id}}
  ...attributes
>
  <div class="portrait">
    <img src={{@miss.photos.portrait}} alt="" role="none">
  </div>
  <span class="mention">{{mention-emoji (get @judgement 'mention') }}</span>

</LinkTo>
