{{page-title "Classement Général"}}

<div class="header">
  <h2>Classement Général</h2>
  <NavMiss @isAuthenticated={{this.auth.isAuthenticated}}/>
  <p class="description">
  Classement par <a href="https://fr.wikipedia.org/wiki/Jugement_majoritaire" target="noopener noreferrer">Jugement Majoritaire</a>. 
  Seuls les jugements complets sur toutes les miss sont pris en compte.
  </p>
  <ul class="legend">
    {{#each this.mentions as |m|}}
    <li class="mention mention-{{m}}">
        {{mention-label m}}
      </li>
    {{/each}}
  </ul>
</div>


<ul class="top">
{{#each @model.top as |rank index|}}
<li class="rank">
  <MissThumbSmall @miss={{rank.miss}} @judgement={{rank}} />
  <figure class="mentions" title={{list-join rank.mentions}}>
    <figcaption>
      <h3 class="region"><strong>{{add index 1}}.</strong> {{rank.région}}</h3>
      <h4 class="nom">{{rank.miss.nom}}</h4>
      <strong class="mention">
        → &nbsp;{{mention-label rank.mention}}
      </strong>
    </figcaption>
    <div class="figure">
      <hr class="cursor" />
      <MentionsRow class="row" @mentions={{rank.mentions}} />
    </div>
  </figure>
</li>
{{/each}}
</ul>
