<nav class="prevnext">
  <LinkTo rel="previous" @route="miss.profile" @query={{hash preserveScrollPosition=true}} @model={{@model.miss.prev}}>&#x3008;</LinkTo>
  <h2 class="region">
    {{ @model.miss.région }}
  </h2>
  <LinkTo rel="next" @route="miss.profile" @query={{hash preserveScrollPosition=true}} @model={{@model.miss.next}}>&#x3009;</LinkTo>
</nav>
<section class="commentaires">
  <div class="comment own">
    <LinkTo @route="miss.profile.judge">
      <blockquote class="content">
        {{sanitize-html (markdown @model.judgement.comment)}}
      </blockquote>
      <figcaption>
        <span class="mention" title={{mention-label @model.judgement.mention}}>{{mention-emoji @model.judgement.mention}}</span>
        <span class="author">Moi</span>
      </figcaption>
    </LinkTo>
  </div>

  <HeightAdjust>
    <ul class="comments">
      {{#each this.judgements.value as |judgement|}}
        <li class="comment {{if judgement.highlighted 'highlight'}}">
          <blockquote class="content">
            {{sanitize-html (markdown judgement.comment)}}
            <FavToggle class="toggle" @count={{judgement.fav.count}} />
          </blockquote>
          <figcaption>
            <span class="mention" title={{mention-label judgement.mention}}>{{mention-emoji judgement.mention}}</span>
            <LinkTo @query={{hash  
                judge=(if judgement.highlighted null judgement.judge.nom)
                preserveScrollPosition=true
              }}
              class="author">{{judgement.judge.nom}} <span class="search">
                {{#if judgement.highlighted}}
                  +
                {{else}}
                  &#x26B2;
                {{/if }}
              </span>
            </LinkTo>
          </figcaption>
        </li>
      {{else}}
        {{#unless this.auth.isAuthenticated}}
          <li class="must-connect">
            <LoginLink>Connecte-toi</LoginLink>
            pour voir les jugements des autres juges.
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </HeightAdjust>
</section>
