<section class="commentaires">
  <div class="comment own">
    <LinkTo @route="miss.profile.judge">
      <blockquote>
        {{sanitize-html (markdown @model.judgement.comment)}}
      </blockquote>
      <figcaption>
        <span class="mention" title={{mention-label @model.judgement.mention}}>{{mention-emoji @model.judgement.mention}}</span>
        <span class="author">Moi</span>
      </figcaption>
    </LinkTo>
  </div>

  <ul class="comments">
    {{this.panel.error}}
    {{#each this.panel.value as |judgement|}}
      <li class="comment">
        <blockquote>
          {{sanitize-html (markdown judgement.comment)}}
        </blockquote>
        <figcaption>
          <span class="mention" title={{mention-label judgement.mention}}>{{mention-emoji judgement.mention}}</span>
          <span class="author">{{judgement.judge.nom}}</span>
        </figcaption>
      </li>
    {{/each}}
  </ul>
</section>
