<nav class="prevnext">
  <LinkTo rel="previous" @route="miss.profile" @query={{hash preserveScrollPosition=true}} @model={{@model.miss.prev}}>&#x3008;</LinkTo>
  <h2 class="region">
    {{ @model.miss.région }}
  </h2>
  <LinkTo rel="next" @route="miss.profile" @query={{hash preserveScrollPosition=true}} @model={{@model.miss.next}}>&#x3009;</LinkTo>
</nav>
<section class="commentaires">
  <div class="comment own">
    {{#let this.auth.userInfo.sub as |jid|}}
    {{#let (get this.favs jid) as |favs|}}
    <LinkTo @route="miss.profile.judge"
       title="Fav par {{(name-list (get favs 'names') (if (get this.ownFavs jid) 'Moi'))}}"
       >
      <blockquote class="content">
        {{sanitize-html (markdown @model.judgement.comment)}}
        <FavToggle 
            {{action 'toggleFav' jid}}
            class="toggle"
            @names="Fav par {{(name-list (get favs 'names') (if (get this.ownFavs jid) 'Moi'))}}"
            @count={{add (get this.ownFavs jid) (get favs 'count')}}
            @active={{get this.ownFavs jid}} />
      </blockquote>
      <figcaption>
        <span class="mention" title={{mention-label @model.judgement.mention}}>{{mention-emoji @model.judgement.mention}}</span>
        <span class="author">Moi</span>
      </figcaption>
    </LinkTo>
/bin/bash: line 1: qa: command not found
    {{/let}}
  </div>

  <HeightAdjust>
    <ul class="comments">
      {{#each this.judgements as |judgement|}}
        <li class="comment {{if judgement.highlighted 'highlight'}}">
          {{#let judgement.judge.id as |jid|}}
          {{#let (get this.favs jid) as |favs|}}


            <blockquote class="content">
              {{sanitize-html (markdown judgement.comment)}}
              <FavToggle 
                  {{action 'toggleFav' jid}}
                  class="toggle"
                  @names="Fav par {{(name-list (get favs 'names') (if (get this.ownFavs jid) 'Moi'))}}"
                  @count={{add (get this.ownFavs jid) (get favs 'count')}}
                  @active={{get this.ownFavs jid}} />
            </blockquote>
          {{/let}}
          {{/let}}
          <figcaption>
            <span class="mention" title={{mention-label judgement.mention}}>{{mention-emoji judgement.mention}}</span>
            <LinkTo @query={{hash  
                judge=(if judgement.highlighted null judgement.judge.nom)
                preserveScrollPosition=true
              }}
              class="author">{{judgement.judge.nom}} <span class="search">
                {{#if judgement.highlighted}}
                  +
                {{else}}
                  &#x26B2;&#xFE0E;
                {{/if }}
              </span>
            </LinkTo>
          </figcaption>
        </li>
      {{else}}
        {{#unless this.auth.isAuthenticated}}
          <li class="must-connect">
            <LoginLink>Connecte-toi</LoginLink>
            pour voir les jugements des autres juges.
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </HeightAdjust>
</section>
